<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:site_name" content="Johnie Hjelm"/>
  <meta property="og:description" content="{% if page.date %}{{ page.content | strip_html | truncatewords: 50 }}{% else %}Two cripreneurs making the world a little bit better with web accessibility, testing and front-end development{% endif %}"/>
  <meta property="og:type" content="website" />
  {% if page.headerImage %}
    <meta content="{{ site.url }}{{ page.headerImage }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}/images/johnie.png" property="og:image">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1");</script>
  <script type="text/javascript" src="//use.typekit.net/xax8qwg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <meta charset="utf-8">
</head>
