/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

.alignleft{
  float: left;
  margin: 0px 20px 20px 0;
}

.alignright{
  float: right;
  margin: 0px 0px 20px 20px;
}

.aligncenter{
  display: block;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .alignleft,
  .alignright,
  .aligncenter{
    display: block;
    float: none;
    clear: both;
    margin: 0;
    margin-bottom: 1em;
  }

  .syster{
    width: 100% !important;
    height: auto;
  }
}
