/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a{
  color: $brand-color;
  text-decoration: none;
  @include vendor(transition, color .2s ease);

  &:hover{
    color: lighten($brand-color, 15%);
  }
}
