/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/


.lead{
  font-size: 1.8em;
  margin-bottom: 1.5em;
  font-family: $base-font-family;
}

p{
  font-family: $body-font-family;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

ul,
ol{
  li{
    margin-bottom: .5em;
  }
}

strong{
  font-weight: 600;
  font-family: $base-font-family;
}

em, i{
  font-style: italic;
}

blockquote{
  background-color: #f9f9f9;
  padding: 1em 2em;
  border-left: 5px solid $brand-color;
}
